---
layout: default
---

<div class="container my-3" style="flex-grow: 1">
    <h1 class="display-4 text-center">{{ page.title }}</h1>
    <div class="mx-auto" style="max-width: 600px;">

        {{ content }}
    </div>
    <hr/>
    <div class="card text-center mx-auto" style="max-width: 28rem;">
        <div class="row no-gutters">
            {% assign person = site.data.people[page.author] %}
            <div class="col-md-4">
                <img class="card-img-top rounded" src="{{ person.picture | relative_url }}">
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex justify-content-center flex-column h-100">
                    <h5 class="card-title">{{ person.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ person.role }}</h6>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <h3>Subscribe to our newsletter</h3>
    <form method="post" action="https://listmonk.as207960.net/subscription/form">
        <input type="hidden" name="l" value="13ef2b16-e8e0-4e97-bd13-db669c3d4927" />
        <div class="row">
            <div class="col-sm">
                <label class="visually-hidden" for="subscribe-email">Email</label>
                <input type="email" name="email" required class="form-control" id="subscribe-email" placeholder="Email"/>
            </div>
            <div class="col-sm">
                <label class="visually-hidden" for="subscribe-name">Name (optional)</label>
                <input type="text" name="name" class="form-control" id="subscribe-name" placeholder="Name (optional)"/>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Subscribe" />
            </div>
        </div>
    </form>
<!--    <hr>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            // this.page.url = "{{ page.url | prepend: site.baseurl }}";
            this.page.identifier = "{{ page.url }}";
        };
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://glauca-digital.disqus.com/embed.js';
            s.setAttribute('data-timestamp', + new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>-->
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "headline": "{{ page.title }}",
        "description": "{{ page.excerpt }}",
        "datePublished": "{{page.date}}",
        "dateModified": "{% if page.modified %}{{page.modified}}{% else %}{{page.date}}{% endif %}",
        "isAccessibleForFree": "True",
        "author": {
            "@type": "Person",
            "name": "{{ person.name }}",
            "image": {
                "@type": "ImageObject",
                "url": "{{ person.picture | absolute_url }}"
            }
        }
    }
</script>


<style>
    img {
        max-width: 100%;
    }
</style>
